version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: pulseops-postgres
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  auth-service:
    build: ./services/auth-service
    container_name: pulseops-auth-service
    env_file:
      - ./services/auth-service/.env
    depends_on:
      - postgres
    ports:
      - "4000:4000"

  api-gateway:
    build: ./services/api-gateway
    container_name: pulseops-api-gateway
    env_file:
      - ./services/api-gateway/.env
    ports:
      - "3000:3000"
    depends_on:
      - auth-service

volumes:
  postgres_data:
